<ul>

<li><a href="https://www.byliz.org" target="_blank">Blog</a></li>
      <li><a href="#email">Contact</a></li>
	<li><a href="#education">Education</a></li>
	<li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
	<li><a href="#feature">Capstone</a></li>
      <li><a href="#about">About</a></li>
      
      <li style="float: left;"><a href="/"><img src="pfp.jpg" class="img-fluid" style="width:45px; position: absolute; margin-left: -60px; margin-top: -11.5px; font-weight: bold;">DCIM Portfolio by Liz</a></li>
</ul>
