<li>
	<a href="https://github.com/byliz" target="_blank" title="Github"><i class="fab fa-github"></i></a>
</li>
<li>
	<a href="https://twitter.com/lizlorenadotcom" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
</li>
<li>
	<a href="https://linkedin.com/in/byliz" title="LinkedIn" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
</li>
<li>
	<a href="http://links.lizlorena.com" target="_blank" title="All Profiles"><i class="fas fa-link"></i></a>
</li>

